<!DOCTYPE html>
<html>
  <head>
	<script src="public/jquery-3.7.0.min.js"></script>
	<script src="public/jquery_frontend.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="/public/style.css" rel="stylesheet" />
    <title>Stock Price checker</title>
  </head>
  <body>
    <div class="v1_2">
      <div class="v1_3"></div>
      <div class="v1_18"></div>
      <div class="v1_15">
        <button id="like_btn" class="v1_16">LIKE</button>
      </div>
      <div class="v1_6">
        <span class="v1_5">Latest Stock Price checker</span>
      </div>
			<input id="stockName" type="text" name="stockName" class="v1_11" />
			<div class="v1_13">
				<button id="submit_btn" class="v1_12"/>CHECK</button>
			</div>
		</fieldset>
      <span class="v1_14">♥</span>
      <div class="v1_19"></div>
	  <div id="output">
		<span class="v1_25">0</span>
		<span class="v1_20">Name:</span>
		<span class="v1_21">Latest price:</span>
		<span id="out_name" class="v1_22">NONE</span>
		<span id="out_value" class="v1_23">00.00</span>
		<span class="v1_24">Liked by:</span>
	  </div>
    </div>
  </body>
</html>